<html>

<head>
    <!-- Basic -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Site Metas -->
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <link rel="shortcut icon" href="images/favicon.png" type="">

    <title> Feane </title>

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

    <!--owl slider stylesheet -->
    <link rel="stylesheet" type="text/css"
        href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <!-- nice select  -->
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/jquery-nice-select/1.1.0/css/nice-select.min.css"
        integrity="sha512-CruCP+TD3yXzlvvijET8wV5WxxEh5H8P4cmz0RFbKK6FlZ2sYl3AEsKlLPHbniXKSrDdFewhbmBK5skbdsASbQ=="
        crossorigin="anonymous" />
    <!-- font awesome style -->
    <link href="css/font-awesome.min.css" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link href="css/style.css" rel="stylesheet" />
    <!-- responsive style -->
    <link href="css/responsive.css" rel="stylesheet" />
    <style>
        .maxi {
            background-image: url("img/fondo_tabla.jpg");

            background-repeat: repeat;
            background-size: 100%;
            /* Añadido para mantener el tamaño normal de la imagen */
        }

        .letra_1 {
            color: aliceblue;
        }
    </style>

</head>

<body class="maxi">

    <div class="hero_area">

        <!-- header section strats -->
        <header class="header_section">
            <div class="container">
                <nav class="navbar navbar-expand-lg custom_nav-container">
                    <a class="navbar-brand" href="home">
                        <img src="img/logo.png" alt="" width="100" height="100" />
                    </a>
                    <% if (user) { %>
                        <a class="navbar-brand" href="/perfil">
                            <h1>
                                <%= user.usuario %>
                            </h1>
                            <span class="sr-only">(current)</span>
                        </a>
                        <% } %>

                            <button class="navbar-toggler" type="button" data-toggle="collapse"
                                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class=""> </span>
                            </button>

                            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                                <ul class="navbar-nav mx-auto">
                                    <li class="nav-item active">
                                        <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/menu">GALERIA</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/about">Nosotros Somos...</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="/todo">Carta</a>
                                    </li>
                                    <% if (user){ %>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/mesa_orden">Ordenar</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="/perfil">Perfil</a>
                                        </li>

                                        <% } %>
                                </ul>
                                <div class="user_option">
                                    <% if (user) { %>

                                        <a href="/cerrar_sesion" class="order_online"> Logout </a>
                                        <% } else { %>
                                            <a href="/login" class="order_online"> Login </a>
                                            <a href="/registrar_usuario" class="order_online">
                                                Registrarme
                                            </a>
                                            <% } %>
                                </div>
                            </div>
                </nav>
            </div>
        </header>

        <!-- end header section -->

        <div class="slider_area zigzag_bg_2 ">
            <div class="slider_sctive owl-carousel">
                <div class="single_slider foto_menu">
                    <div class="single_slider-iner">
                        <div class="slider_contant text-center">
                            <h3>
                                <%= titulo %>
                            </h3>
                            <p>
                                <%= descripcion %>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container borde_tabla ">

            <div class=" mt-5 mb-5">
                <h1 class="letra_1">
                    <%= titulo %>
                </h1>
                <h2 class="letra_1">
                    <%= descripcion %>
                </h2>
                <div class="food_section layout_padding-bottom">
                    <ul class="filters_menu">
                        <li class="active" data-filter="<%- results %>"><a href="/todo">TODO</a></li>
                        <li data-filter=".burger"><a href="/entradas">ENTRADAS</a></li>
                        <li data-filter=".pizza"><a href="/plato_principal">PLATO PRINCIPAL</a></li>
                        <li data-filter=".pasta"><a href="/acompanamientos">ACOMPAÑAMIENTOS</a></li>
                        <li data-filter=".fries"><a href="/bebidas">BEBIDAS</a></li>
                        <li data-filter=".dessert"><a href="/postres">POSTRES</a></li>
                    </ul>
                </div>

                <table class="table  table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Precio</th>
                            <th>Categoría</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (const row of results[0]) { %>
                            <tr>
                                <td>
                                    <%= row.id %>
                                </td>
                                <td>
                                    <%= row.nombre %>
                                </td>
                                <td>
                                    <%= row.precio %>
                                </td>
                                <td>
                                    <%= row.categoria %>
                                </td>
                            </tr>
                            <% } %>
                    </tbody>
                </table>

            </div>
        </div>
        <% if (!user) { %>


            <section class="about_section layout_padding">
                <div class="container  ">
                    <div class="row">
                        <div class="col-md-6 text-center">
                            <div class="detail-box">
                                <div class="heading_container">
                                    <h2>
                                        Registrate Aqui
                                    </h2>
                                </div>
                                <a href="/registrar_usuario">
                                    Registrar
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 ">
                            <div class="img-box">
                                <img src="img/logo.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <% } %>
        
                <%- include('partials/footer.ejs'); -%>